body {

}
a:link {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.standings-table {
  margin: 0 auto;
  border-collapse: collapse;
}
.standings-table table,
.standings-table td,
.standings-table th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.3em;
}
.standings-table th {
  background-color: #ddd;
}
.standings-table tr:nth-child(odd) {
  background-color: #eee;
}
.centered {
  text-align: center;
}
.championships-component {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}
.championships-list{
  display: flex;
  justify-content: center;
}
.link-to-championship {
  padding: 0.5em;
  cursor: pointer;
}
.link-to-team {

}
.season {
  display: flex;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}
.season div {
  justify-content: center;
  width: 33%;
  text-align: center;
  padding: 0.3em;
  font-weight: bold;
}
.season .prev,
.season .next {
  cursor: pointer;
  background-color: #eee;
}
.active {
  border-bottom: 3px solid #000;
}

/* ========================== TEAM COMPONENT =======================*/
.team-name {
  text-align: center;
}
.control-statistics {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 0.5em;
}
.control-statistics div {
  flex-direction: center;
  width: 50%;
  text-align: center;
  padding: 0.3em;
  cursor: pointer;
}
.games-list{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.game-single {
  /*max-width: 500px;
  margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 0.5em;
  padding: 0.3em;
  background-color: #eee;
  position: relative;
}
.game-num {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
}
.game-single .game-date {
  text-align: center;
}
.game-teams {
  display: flex;
}
.game-teams div {
  width: 50%;
  text-align: center;
}
.game-goals {
  display: flex;
}
.game-goals div {
  width: 50%;
  text-align: center;
}

.tabcontent{
  display: none;
  animation: fadeEffect 0.5s;
}
#games-list {
  display: block;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.summary {
  max-width: 500px;
  margin: 0 auto;
  background-color: #eee;
}
.summary-content {
  padding: 0.3em;
}
/* ========================== TEAM COMPONENT END =======================*/
